<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>EasyScool</display-name>
 
 <filter>
  <display-name>FilterCharset</display-name>
  <filter-name>FilterCharset</filter-name>
  <filter-class>ua.ziper.util.FilterCharset</filter-class>
 </filter>
 
 <filter-mapping>
  <filter-name>FilterCharset</filter-name>
  <url-pattern>/*</url-pattern>
 </filter-mapping>
 
 <servlet>
  <servlet-name>Welcom</servlet-name>
  <servlet-class>ua.ziper.servlet.Welcom</servlet-class>
 </servlet>
 
 <servlet-mapping>
  <servlet-name>Welcom</servlet-name>
  <url-pattern>/welcom</url-pattern>
 </servlet-mapping>
 
 <welcome-file-list>
  <welcome-file>/index.html</welcome-file>
 </welcome-file-list>
 
 <error-page>
  <error-code>404</error-code>
  <location>/Error404.html</location>
 </error-page>
 
</web-app>
